.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/
.pytest_cache/
*.py[cod]
*.duckdb
*.duckdb.wal
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/
logs/
.astro/standalone/
.astro/worktrees/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
